@model ChangePassword
@{
    ViewData["PageH1Title"] = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string userEmail = ViewBag.userEmail;
}

<partial name="_ShowErrors" />


<div class="row col-md-4">

    <form method="post" asp-action="ChangePassword" id="change-user-password">
        <!-- Current Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="userPword">Current Password*</label>
            <input type="password" asp-for="userPword" class="form-control" required />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="newUserPword">New Password* (max length: 15 characters)</label>
            <input type="password" id="newUserPword" name="newUserPword" class="form-control" required maxlength="15" />
        </div>

        <div>
            <p class="label-header">Passwords must:</p>
            <ul>
                <li>be between 8 - 15 characters</li>
                <li>contain at least 1 uppercase alphanumeric character</li>
                <li>contain at least 1 lowercase alphanumeric character</li>
                <li>contain at least 1 special character (example: !, #, $, %, etc.)</li>
                <li>contain at least 1 number</li>
            </ul>
        </div>

        <!-- Verify Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="ValidateUserPword">Verify New Password* (max length: 15 characters)</label>
            <input type="password" id="ValidateUserPword" name="ValidateUserPword" class="form-control" required maxlength="15" />
        </div>

        <!-- Submit button -->
        <div class="form-outline">
            <button type="submit" class="btn btn-primary btn-block mb-4">Update Password</button>
        </div>
    </form>
</div>