@model AdminUser

@{
    ViewData["Title"] = "Add New User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["PageH1Title"] = "Create New Access";
    string errorMessage = ViewBag.ErrorMessage;
}

<partial name="_ShowErrors" />
<div class="validation-js-summary-errors">
    <ul>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post" id="form-new-user">
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" required />
                @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
            </div>

            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" required />
                @*<span asp-validation-for="LastName" class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" type="email" required />
                @*<span asp-validation-for="UserEmail" class="text-danger"></span>*@
            </div>

            <div>
                <p class="label-header">Passwords must:</p>
                <ul>
                    <li>be between 8 - 15 characters</li>
                    <li>contain at least 1 uppercase alphanumeric character</li>
                    <li>contain at least 1 lowercase alphanumeric character</li>
                    <li>contain at least 1 special character (example: !, #, $, %, etc.)</li>
                    <li>contain at least 1 number</li>
                </ul>
            </div>

            <div class="mb-3">
                <label asp-for="UserPword"></label>
                <input asp-for="UserPword" class="form-control" type="password" required />
                @*<span asp-validation-for="UserEmail" class="text-danger"></span>*@

            </div>
            <div>
                <p class="label-header">Passwords must:</p>
                <ul>
                    <li>be between 8 - 15 characters</li>
                    <li>contain at least 1 uppercase alphanumeric character</li>
                    <li>contain at least 1 lowercase alphanumeric character</li>
                    <li>contain at least 1 special character (example: !, #, $, %, etc.)</li>
                    <li>contain at least 1 number</li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="ValidateUserPword">Verify Password</label>
                <input id="ValidateUserPword" name="ValidateUserPword" class="form-control" type="password" required />
                @*<span asp-validation-for="UserEmail" class="text-danger"></span>*@

            </div>

            <div class="mb-3">
                <label asp-for="UserRole"></label>
                <select asp-for="UserRole" class="form-control">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="UserStatus"></label>
                <select asp-for="UserStatus" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>

                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px;">Add User</button>
            <a asp-controller="Admin" asp-action="Users" class="btn btn-secondary" style="width: 150px">Back to Users</a>
        </form>
    </div>
</div>

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

*@