
@{
    ViewData["Title"] = "DDReview";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["PageH1Title"] = "Direct Deposit Requests";
}
<div class="dd-info-lightbox-background">    
    <div class="dd-info-lightbox">
        <h2>Direct Deposit Request Details</h2>
        <div class="dd-print-container"></div>
    </div>
</div>

<partial name="_EmployeeDetails" />