
@{
    ViewData["Title"] = "Index";
    ViewData["PageH1Title"] = "Direct Deposit Admin Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<p>Welcome to the Payroll Direct Deposit Administrative area.  This area will allow you to add additional users to view payroll direct deposit submissions.  You will also be able to print out the information</p>
<p>The admin area is broken down into two different areas: </p>
<ol>    
    <li>the admin user area, and</li>
    <li>the direct deposit submission area.</li>
</ol>
<p>The admin user area will allow you to control who has access to this area.  You will be able to add new admin users as well as setting their role.  There are two types of roles available for the admins: </p>
<ol>
<li>general user,</li>
<li>administrator.</li>
</ol>
<p>The general user will be able to work with the direct deposits (view/print).  The administrator role will allow individuals to do all that the general user can do; however, they will be able to add or remove additional users.</p>