@model CleanDDTest.Models.ViewModel
@{
    ViewData["Title"] = "Thank You";
    ViewData["PageH1Title"] = "The University of Tennessee/Payroll Office Authorization Agreement for Direct Deposit";
    
}
<div>
    <h2>Thank you </h2>
    <p>All changes made by entry deadline for your pay cycle will be effective for that payday.</p>
    <p>Thank you for your patience as we continue to monitor internal processes for updated efficiencies and improved customer service. If you have questions, please contact the Payroll Office at 865-974-5251.</p>
</div>